canvas {
    margin: auto;
    width: 100%;
    border: solid black;
}

body {
    background-image: url(img/90116.jpg)
}

.escala_grises {
    display: none;
    font-weight: bolder;
    color: red;
}

iframe {
    margin: auto;
    width: 100%;
    height: 700px;
}

p {
    color: #BD5F32;
}

#crear {
    display: none;
}

#unir {
    display: none;
}